<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tavisca.SupplierScheduledTask.DataAccessLayer.Properties.Settings.dLoggingConnectionString"
            connectionString="Data Source=agni;Initial Catalog=dLogging;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tavisca.SupplierScheduledTask.DataAccessLayer.Properties.Settings.dLoggingConnectionString1"
            connectionString="Data Source=RoviaDev;Initial Catalog=dLogging;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>